In [1]:
pip install spacy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.9/dist-packages (3.5.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.9/dist-packages (from spacy) (4.65.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.9/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.9/dist-packages (from spacy) (0.7.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.9/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.9/dist-packages (from spacy) (3.0.12)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from spacy) (23.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.9/dist-packages (from spacy) (1.10.6)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from spacy) (1.0.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from spacy) (67.6.0)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.9/dist-packages (from spacy) (2.4.6)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.9/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from spacy) (3.1.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.9/dist-packages (from spacy) (2.27.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.9/dist-packages (from spacy) (1.22.4)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.9/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.9/dist-packages (from spacy) (6.3.0)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /usr/local/lib/python3.9/dist-packages (from spacy) (8.1.9)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.9/dist-packages (from spacy) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.5.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.12)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.9/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.9/dist-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.7.9)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.9/dist-packages (from typer<0.8.0,>=0.3.0->spacy) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->spacy) (2.1.2)

In [2]:
pip show spacy

Name: spacy
Version: 3.5.1
Summary: Industrial-strength Natural Language Processing (NLP) in Python
Home-page: https://spacy.io
Author: Explosion
Author-email: contact@explosion.ai
License: MIT
Location: /usr/local/lib/python3.9/dist-packages
Requires: catalogue, cymem, jinja2, langcodes, murmurhash, numpy, packaging, pathy, preshed, pydantic, requests, setuptools, smart-open, spacy-legacy, spacy-loggers, srsly, thinc, tqdm, typer, wasabi
Required-by: en-core-web-sm, fastai

In [3]:
import pandas as pd
import numpy as np

import spacy
# Load English language model
nlp = spacy.load('en_core_web_sm')

/usr/local/lib/python3.9/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [4]:
# Define custom entity labels
LABEL_NAME = 'NAME'
LABEL_ROLE_NAME = 'ROLE_NAME'
LABEL_JOB_TITLE = 'JOB_TITLE'
LABEL_LOCATION = 'LOCATION'
LABEL_PROJECT_NAME = 'PROJECT_NAME'
LABEL_ACRONYM = 'ACRONYM'

In [5]:
## *** V2 *** (Fine Tuning)
# Define function to extract specified entities from text
def extract_entities(text):
  # Create doc object
  doc = nlp(text)
  # Initialize empty list to store extracted entities
  entities = []

  # Extract named entities using doc.ents
  for ent in doc.ents:
      # Extract entity label and text
      label = ent.label_
      entity = ent.text
      
      # Add entity to list if it is a name, role name, job title, or location
      if label == 'PERSON':
          label = LABEL_NAME
          entities.append((entity, label))
      elif label == 'ORG':
          label = LABEL_ROLE_NAME
          entities.append((entity, label))
      elif label == 'JOB':
          label = LABEL_JOB_TITLE
          entities.append((entity, label))
      elif label == 'GPE':
          label = LABEL_LOCATION
          entities.append((entity, label))

  # Extract noun chunks using doc.noun_chunks
  for chunk in doc.noun_chunks:
      # Check if chunk is a proper noun
      if chunk.root.pos_ == 'PROPN':
          # Extract entity label and text
          label = LABEL_ROLE_NAME
          entity = chunk.text
          entities.append((entity, label))

  # Extract verb conjugations using doc.token.pos_
  for token in doc:
      # Check if token is a verb conjugation
      if token.pos_ == 'VERB':
          # Extract entity label and text
          label = LABEL_ROLE_NAME
          entity = token.text
          entities.append((entity, label))

  # Return list of extracted entities
  return entities

In [6]:
text = "John is the project manager for the XYZ project at the San Francisco location. His job title is Senior Manager."
text = "Sarah is the HR manager at the New York location. Her role is to recruit new employees and manage employee benefits."
entities = extract_entities(text)
print(entities)

[('Sarah', 'NAME'), ('New York', 'LOCATION'), ('Sarah', 'ROLE_NAME'), ('recruit', 'ROLE_NAME'), ('manage', 'ROLE_NAME')]

# **V2 - More complex**

In [7]:
## sample text
text = [
"John is the project manager for the XYZ project at the San Francisco location. His job title is Senior Manager.",
"Sarah is the HR manager at the New York location. Her role is to recruit new employees and manage employee benefits.",
"The ABC project is a collaboration between the San Francisco and New York locations. The project acronym is AB-C.",
"The XYZ project is led by Jane, who is a Senior Director. The project is based in London.",
"The ABC project team includes Tom, who is a Data Scientist, and Emily, who is a Software Engineer."
]

In [8]:
## import pandas as pd
# Create data frame with sample text ** ## To be reaplaced with df = pd.read('file.xlsx')
df = pd.DataFrame({'Text': text},index=[0, 1, 2, 3, 4])
df.Text

0    John is the project manager for the XYZ projec...
1    Sarah is the HR manager at the New York locati...
2    The ABC project is a collaboration between the...
3    The XYZ project is led by Jane, who is a Senio...
4    The ABC project team includes Tom, who is a Da...
Name: Text, dtype: object

In [9]:
# Initialize empty list to store extracted entities
entities = []
# Iterate through rows of data frame
for index, row in df.iterrows():
  # Extract text from 'Text' column
  text = row['Text']
  # Pass text to custom NER model function
  extracted_entities = extract_entities(text)
  # Append extracted entities to list and assign labels
  for entity, label in extracted_entities:
    entities.append({'Text': text, 'Entity': entity, 'Label': label})

In [10]:
# Create new data frame using extracted entities and labels
result_df = pd.DataFrame(entities, columns=['Text', 'Entity', 'Label'])
# print(result_df)

In [11]:
result_df

,Text,Entity,Label
0,John is the project manager for the XYZ projec...,John,NAME
1,John is the project manager for the XYZ projec...,XYZ,ROLE_NAME
2,John is the project manager for the XYZ projec...,San Francisco,LOCATION
3,John is the project manager for the XYZ projec...,John,ROLE_NAME
4,John is the project manager for the XYZ projec...,Senior Manager,ROLE_NAME
5,Sarah is the HR manager at the New York locati...,Sarah,NAME
6,Sarah is the HR manager at the New York locati...,New York,LOCATION
7,Sarah is the HR manager at the New York locati...,Sarah,ROLE_NAME
8,Sarah is the HR manager at the New York locati...,recruit,ROLE_NAME
9,Sarah is the HR manager at the New York locati...,manage,ROLE_NAME
10,The ABC project is a collaboration between the...,ABC,ROLE_NAME
11,The ABC project is a collaboration between the...,San Francisco,LOCATION
12,The ABC project is a collaboration between the...,New York,LOCATION
13,The ABC project is a collaboration between the...,AB-C.,ROLE_NAME
14,The ABC project is a collaboration between the...,AB-C.,ROLE_NAME
15,"The XYZ project is led by Jane, who is a Senio...",XYZ,ROLE_NAME
16,"The XYZ project is led by Jane, who is a Senio...",Jane,NAME
17,"The XYZ project is led by Jane, who is a Senio...",London,LOCATION
18,"The XYZ project is led by Jane, who is a Senio...",Jane,ROLE_NAME
19,"The XYZ project is led by Jane, who is a Senio...",a Senior Director,ROLE_NAME
20,"The XYZ project is led by Jane, who is a Senio...",London,ROLE_NAME
21,"The XYZ project is led by Jane, who is a Senio...",led,ROLE_NAME
22,"The XYZ project is led by Jane, who is a Senio...",based,ROLE_NAME
23,"The ABC project team includes Tom, who is a Da...",ABC,ROLE_NAME
24,"The ABC project team includes Tom, who is a Da...",Tom,NAME
25,"The ABC project team includes Tom, who is a Da...",Data Scientist,ROLE_NAME
26,"The ABC project team includes Tom, who is a Da...",Tom,ROLE_NAME
27,"The ABC project team includes Tom, who is a Da...",a Data Scientist,ROLE_NAME
28,"The ABC project team includes Tom, who is a Da...",Emily,ROLE_NAME
29,"The ABC project team includes Tom, who is a Da...",a Software Engineer,ROLE_NAME
30,"The ABC project team includes Tom, who is a Da...",includes,ROLE_NAME